/* Sets all the text color to red! */

div.local-rest-api-ng-settings div.api-key-display {
  margin-bottom: 20px;
}
div.local-rest-api-ng-settings div.api-key-display pre {
  font-size: 0.8em;
  padding: 10px 20px;
  background-color: var(--background-modifier-cover);
  font-family: monospace;
  user-select: all;
}

div.local-rest-api-ng-settings div.setting-item-control {
  min-width: 50%;
}

div.local-rest-api-ng-settings textarea {
  width: 100%;
}

div.local-rest-api-ng-settings div.certificate-expired {
  padding: 10px 20px;
  border: 2px solid #ff0000;
}

div.local-rest-api-ng-settings div.certificate-expiring-soon {
  padding: 10px 20px;
  border: 2px solid #ffff00;
}

div.local-rest-api-ng-settings div.certificate-regeneration-recommended {
  padding: 10px 20px;
  border: 2px solid #ffff00;
}

div.local-rest-api-ng-settings table.api-urls tr {
  width: 100%;
}

div.local-rest-api-ng-settings table.api-urls th, div.local-rest-api-ng-settings table.api-urls td {
  padding: 5px 25px;
}

div.local-rest-api-ng-settings table.api-urls tr.disabled td.name, div.local-rest-api-ng-settings table.api-urls tr.disabled td.url {
  text-decoration: line-through;
}
